<plugin>
  <description></description>
  <groupId>com.site.maven.plugins</groupId>
  <artifactId>maven-codegen-plugin</artifactId>
  <version>1.0.0</version>
  <goalPrefix>codegen</goalPrefix>
  <isolatedRealm>false</isolatedRealm>
  <inheritedByDefault>true</inheritedByDefault>
  <mojos>
    <mojo>
      <goal>dal-jdbc-meta</goal>
      <description>DAL Metadata generator for JDBC</description>
      <requiresDirectInvocation>false</requiresDirectInvocation>
      <requiresProject>true</requiresProject>
      <requiresReports>false</requiresReports>
      <aggregator>false</aggregator>
      <requiresOnline>false</requiresOnline>
      <inheritedByDefault>true</inheritedByDefault>
      <implementation>com.site.maven.plugin.codegen.DalJdbcMetaMojo</implementation>
      <language>java</language>
      <instantiationStrategy>per-lookup</instantiationStrategy>
      <executionStrategy>once-per-session</executionStrategy>
      <parameters>
        <parameter>
          <name>baseDir</name>
          <type>java.io.File</type>
          <required>true</required>
          <editable>false</editable>
          <description>Current project base directory</description>
        </parameter>
        <parameter>
          <name>connectionProperties</name>
          <type>java.lang.String</type>
          <required>false</required>
          <editable>true</editable>
          <description></description>
        </parameter>
        <parameter>
          <name>driver</name>
          <type>java.lang.String</type>
          <required>true</required>
          <editable>true</editable>
          <description></description>
        </parameter>
        <parameter>
          <name>excludes</name>
          <type>java.util.List</type>
          <required>false</required>
          <editable>true</editable>
          <description></description>
        </parameter>
        <parameter>
          <name>includes</name>
          <type>java.util.List</type>
          <required>false</required>
          <editable>true</editable>
          <description></description>
        </parameter>
        <parameter>
          <name>outputFile</name>
          <type>java.lang.String</type>
          <required>true</required>
          <editable>true</editable>
          <description></description>
        </parameter>
        <parameter>
          <name>password</name>
          <type>java.lang.String</type>
          <required>true</required>
          <editable>true</editable>
          <description></description>
        </parameter>
        <parameter>
          <name>url</name>
          <type>java.lang.String</type>
          <required>true</required>
          <editable>true</editable>
          <description></description>
        </parameter>
        <parameter>
          <name>user</name>
          <type>java.lang.String</type>
          <required>true</required>
          <editable>true</editable>
          <description></description>
        </parameter>
      </parameters>
      <configuration>
        <baseDir implementation="java.io.File">${basedir}</baseDir>
        <connectionProperties implementation="java.lang.String">${jdbc.connectionProperties}</connectionProperties>
        <outputFile implementation="java.lang.String" default-value="src/main/resources/META-INF/dal/jdbc/codegen.xml">${outputFile}</outputFile>
        <driver implementation="java.lang.String">${jdbc.driver}</driver>
        <user implementation="java.lang.String">${jdbc.user}</user>
        <password implementation="java.lang.String">${jdbc.password}</password>
        <url implementation="java.lang.String">${jdbc.url}</url>
      </configuration>
      <requirements>
        <requirement>
          <role>com.site.codegen.meta.TableMeta</role>
          <field-name>m_meta</field-name>
        </requirement>
      </requirements>
    </mojo>
    <mojo>
      <goal>dal-jdbc</goal>
      <description>DAL code generator for JDBC</description>
      <requiresDirectInvocation>false</requiresDirectInvocation>
      <requiresProject>true</requiresProject>
      <requiresReports>false</requiresReports>
      <aggregator>false</aggregator>
      <requiresOnline>false</requiresOnline>
      <inheritedByDefault>true</inheritedByDefault>
      <implementation>com.site.maven.plugin.codegen.DalJdbcMojo</implementation>
      <language>java</language>
      <instantiationStrategy>per-lookup</instantiationStrategy>
      <executionStrategy>once-per-session</executionStrategy>
      <parameters>
        <parameter>
          <name>debug</name>
          <type>boolean</type>
          <required>false</required>
          <editable>true</editable>
          <description>Verbose information or not</description>
        </parameter>
        <parameter>
          <name>m_project</name>
          <type>org.apache.maven.project.MavenProject</type>
          <required>true</required>
          <editable>false</editable>
          <description>Current project</description>
        </parameter>
        <parameter>
          <name>manifest</name>
          <type>java.lang.String</type>
          <required>true</required>
          <editable>true</editable>
          <description>Location of manifest.xml file</description>
        </parameter>
        <parameter>
          <name>resouceBase</name>
          <type>java.lang.String</type>
          <required>true</required>
          <editable>true</editable>
          <description>Location of generated source directory</description>
        </parameter>
        <parameter>
          <name>sourceDir</name>
          <type>java.lang.String</type>
          <required>true</required>
          <editable>true</editable>
          <description>Current project base directory</description>
        </parameter>
        <parameter>
          <name>verbose</name>
          <type>boolean</type>
          <required>false</required>
          <editable>true</editable>
          <description>Verbose information or not</description>
        </parameter>
      </parameters>
      <configuration>
        <resouceBase implementation="java.lang.String" default-value="/META-INF/dal/jdbc">${resource.base}</resouceBase>
        <sourceDir implementation="java.lang.String" default-value="${basedir}/target/generated-sources/dal-jdbc">${sourceOutput}</sourceDir>
        <verbose implementation="boolean" default-value="false">${verbose}</verbose>
        <manifest implementation="java.lang.String">${manifest}</manifest>
        <debug implementation="boolean" default-value="false">${debug}</debug>
        <m_project implementation="org.apache.maven.project.MavenProject">${project}</m_project>
      </configuration>
      <requirements>
        <requirement>
          <role>com.site.codegen.generator.Generator</role>
          <role-hint>dal-jdbc</role-hint>
          <field-name>m_generator</field-name>
        </requirement>
      </requirements>
    </mojo>
    <mojo>
      <goal>dal-xml-meta</goal>
      <description>DAL Metadata generator for XML</description>
      <requiresDirectInvocation>false</requiresDirectInvocation>
      <requiresProject>true</requiresProject>
      <requiresReports>false</requiresReports>
      <aggregator>false</aggregator>
      <requiresOnline>false</requiresOnline>
      <inheritedByDefault>true</inheritedByDefault>
      <implementation>com.site.maven.plugin.codegen.DalXmlMetaMojo</implementation>
      <language>java</language>
      <instantiationStrategy>per-lookup</instantiationStrategy>
      <executionStrategy>once-per-session</executionStrategy>
      <parameters>
        <parameter>
          <name>baseDir</name>
          <type>java.io.File</type>
          <required>true</required>
          <editable>false</editable>
          <description>Current project base directory</description>
        </parameter>
        <parameter>
          <name>inputFile</name>
          <type>java.lang.String</type>
          <required>true</required>
          <editable>true</editable>
          <description></description>
        </parameter>
        <parameter>
          <name>outputFile</name>
          <type>java.lang.String</type>
          <required>true</required>
          <editable>true</editable>
          <description></description>
        </parameter>
      </parameters>
      <configuration>
        <baseDir implementation="java.io.File">${basedir}</baseDir>
        <outputFile implementation="java.lang.String" default-value="src/main/resources/META-INF/dal/xml/codegen.xml">${outputFile}</outputFile>
        <inputFile implementation="java.lang.String">${inputFile}</inputFile>
      </configuration>
      <requirements>
        <requirement>
          <role>com.site.codegen.meta.XmlMeta</role>
          <field-name>m_meta</field-name>
        </requirement>
      </requirements>
    </mojo>
    <mojo>
      <goal>dal-xml</goal>
      <description>DAL code generator for XML</description>
      <requiresDirectInvocation>false</requiresDirectInvocation>
      <requiresProject>true</requiresProject>
      <requiresReports>false</requiresReports>
      <aggregator>false</aggregator>
      <requiresOnline>false</requiresOnline>
      <inheritedByDefault>true</inheritedByDefault>
      <implementation>com.site.maven.plugin.codegen.DalXmlMojo</implementation>
      <language>java</language>
      <instantiationStrategy>per-lookup</instantiationStrategy>
      <executionStrategy>once-per-session</executionStrategy>
      <parameters>
        <parameter>
          <name>debug</name>
          <type>boolean</type>
          <required>false</required>
          <editable>true</editable>
          <description>Verbose information or not</description>
        </parameter>
        <parameter>
          <name>m_project</name>
          <type>org.apache.maven.project.MavenProject</type>
          <required>true</required>
          <editable>false</editable>
          <description>Current project</description>
        </parameter>
        <parameter>
          <name>manifest</name>
          <type>java.lang.String</type>
          <required>false</required>
          <editable>true</editable>
          <description>Location of manifest.xml file</description>
        </parameter>
        <parameter>
          <name>resouceBase</name>
          <type>java.lang.String</type>
          <required>true</required>
          <editable>true</editable>
          <description>Location of generated source directory</description>
        </parameter>
        <parameter>
          <name>sourceDir</name>
          <type>java.lang.String</type>
          <required>true</required>
          <editable>true</editable>
          <description>Location of generated source directory</description>
        </parameter>
        <parameter>
          <name>sourceEncoding</name>
          <type>java.lang.String</type>
          <required>false</required>
          <editable>true</editable>
          <description>Encoding of source file</description>
        </parameter>
        <parameter>
          <name>sourceInput</name>
          <type>java.lang.String</type>
          <required>false</required>
          <editable>true</editable>
          <description>Location of source file (file or URL)</description>
        </parameter>
        <parameter>
          <name>sourcePackage</name>
          <type>java.lang.String</type>
          <required>false</required>
          <editable>true</editable>
          <description>Package for generated source</description>
        </parameter>
        <parameter>
          <name>verbose</name>
          <type>boolean</type>
          <required>false</required>
          <editable>true</editable>
          <description>Verbose information or not</description>
        </parameter>
      </parameters>
      <configuration>
        <resouceBase implementation="java.lang.String" default-value="/META-INF/dal/xml">${resource.base}</resouceBase>
        <sourcePackage implementation="java.lang.String">${source.package}</sourcePackage>
        <sourceDir implementation="java.lang.String" default-value="${basedir}/target/generated-sources/dal-xml">${source.dir}</sourceDir>
        <sourceEncoding implementation="java.lang.String">${source.encoding}</sourceEncoding>
        <sourceInput implementation="java.lang.String">${source.input}</sourceInput>
        <verbose implementation="boolean" default-value="false">${verbose}</verbose>
        <manifest implementation="java.lang.String">${manifest}</manifest>
        <debug implementation="boolean" default-value="false">${debug}</debug>
        <m_project implementation="org.apache.maven.project.MavenProject">${project}</m_project>
      </configuration>
      <requirements>
        <requirement>
          <role>com.site.codegen.manifest.ManifestCreator</role>
          <field-name>m_manifestCreator</field-name>
        </requirement>
        <requirement>
          <role>com.site.codegen.generator.Generator</role>
          <role-hint>dal-xml</role-hint>
          <field-name>m_generator</field-name>
        </requirement>
        <requirement>
          <role>com.site.codegen.meta.XmlMetaHelper</role>
          <field-name>m_xmlMetaHelper</field-name>
        </requirement>
      </requirements>
    </mojo>
  </mojos>
  <dependencies/>
</plugin>